<!-- component-one.component.html -->
<div class="h-auto flex items-center justify-center">
    <div class="p-6 space-y-4">
      <button class="px-4 py-2 bg-blue-500 text-white  hover:bg-blue-700 transition-colors duration-300">Botón 1</button>
      <button class="px-4 py-2 bg-green-500 text-white  hover:bg-green-700 transition-colors duration-300">Botón 2</button>
      <button class="px-4 py-2 bg-red-500 text-white  hover:bg-red-700 transition-colors duration-300">Botón 3</button>
  
      <div class="w-32 h-32 bg-yellow-300 text-center flex items-center justify-center transition-transform transform hover:scale-110 duration-300 rounded-full">
        <p>Texto 1</p>
      </div>
      <div class="w-32 h-32 bg-purple-500 text-center flex items-center justify-center transition-transform transform hover:scale-110 duration-300 rounded-full">
        <p>Texto 2</p>
      </div>
      <div class="w-32 h-32 bg-teal-300 text-center flex items-center justify-center transition-transform transform hover:scale-110 duration-300 rounded-full">
        <p>Texto 3</p>
      </div>
    </div>
  </div>
  