<div class="h-auto flex items-center justify-center">
    <div class="p-6 space-y-4">
      <button class="px-4 py-2 bg-indigo-500 text-white rounded-full hover:bg-indigo-700 transition-colors duration-300">Botón A</button>
      <button class="px-4 py-2 bg-yellow-500 text-white rounded-full hover:bg-yellow-700 transition-colors duration-300">Botón B</button>
      <button class="px-4 py-2 bg-pink-500 text-white rounded-full hover:bg-pink-700 transition-colors duration-300">Botón C</button>
  
      <div class="w-32 h-32 bg-orange-300 text-center flex items-center justify-center transition-opacity duration-300 hover:opacity-70">
        <p>Texto A</p>
      </div>
      <div class="w-32 h-32 bg-gray-500 text-center flex items-center justify-center transition-opacity duration-300 hover:opacity-70">
        <p>Texto B</p>
      </div>
      <div class="w-32 h-32 bg-blue-800 text-center flex items-center justify-center transition-opacity duration-300 hover:opacity-70">
        <p>Texto C</p>
      </div>
    </div>
  </div>
  